@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  // get helper commands
  var linkHelper = CreateInstance("LinkHelper.cs");
}

<div class="row">
  <div class="flexslider announcement-bar">
    <ul class="slides">
      @foreach (var link in AsList(Data)) {
        var linkInfo = linkHelper.LinkInfos(link);
        <li>
          <div class="co-linkblock" @Edit.TagToolbar(link, toolbar: new[] { "toolbar=empty", "+edit", "+new", "+replace", "+add-existing", "+list"})>
            @if (linkInfo.Found)
            {
              @:<a title="@link.Title" href="@link.Link" target="@linkInfo.Window">
            }
            @link.Title
            @if (linkInfo.Found)
            {
              @:</a>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts,icons"})

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider.announcement-bar').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: true
        });
    });
</script>