@inherits Custom.Hybrid.Razor14
@{
  /* This Template is used in ca. 3 Views which only show the title and the text */

  var cols = Settings.ColsElement1;
  var padding = Settings.ColsPaddingLeft;
  var styling = Settings.TextAlignment == "c" ? "text-center" : "";

  // Prepare items to show, count and index to find the last item (for styling)
  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;

  // Default Toolbar with prefill for add and Edit Title with Text 
  var itemToolbar = Kit.Toolbar.Default(tweak: b => b.FormParameters("hideImage", true));
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* Show all the content-items - one or more *@
@foreach (var item in allItems) {
  <div class="container-fluid header-content bg-@item.Background">
    <div class="header container row">
      <div class="col-md-8" @Edit.TagToolbar(item, toolbar: new[] { "toolbar=empty", "+edit", "+new", "+replace", "+list"})>
        <div class="text mb-2">
          @Html.Raw(item.Text)
        </div>
        <div class="title">
          @Html.Partial("../shared/Header tag.cshtml", new { Item = item, HeadingType = item.Presentation.HeadingType })
        </div>
      </div>
    </div>
  </div>

}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts"})