@inherits Custom.Hybrid.Razor14
@{
  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;
}

@* Show all the content-items - one or more *@
@foreach (var item in allItems) {
  <div class='row text-image-w-scroll align-items-center' @Edit.TagToolbar(item, toolbar: new[] { "toolbar=empty", "+edit", "+new", "+replace", "+add-existing", "+list"})>
    @* If the image has it's own column, it's here *@
      <div class='col-12'>
        @* call sub-template to show the image with all possible options *@
        <div class="image-content pos-@item.BackImagePosition scroll-@item.Scroll">
          <img class="main-image" src="@item.Image" alt="@item.Title"/>
          <img class="bg-image " src="@item.BackImage" alt="background-image"/>
        </div>
      </div>
  </div>
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts"})
