@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  /* This Template is used in ca. 5 Views which show title, text and image */

  // define dom attribute for fancybox
  var fancyboxAttribute = "app-content-fancybox-group";
  var isTextFirst = Settings.TextFirst;

  // Determine the widths of each part, based on 12 Bootstrap columns
  var colsText = isTextFirst ? Settings.ColsElement1 : 12 - Settings.ColsElement1;
  var colsImg = 12 - colsText;
  var showImgBetweenTitleAndText = colsImg == 0; // if image has 0 columns, it's between title / text

  // Prepare items to show, count and index to find the last item (for styling)
  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;
}
@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* Show all the content-items - one or more *@
@foreach (var item in allItems) {
  var rowClass = ++itemIndex == itemsCount ? "mb-4 mb-lg-5" : ""; // if last item, add class to the row to add margin-bottom
<div id="image-scroll">
  <div class='row @rowClass text-image-w-scroll align-items-center' @Edit.TagToolbar(item, toolbar: new[] { "toolbar=empty", "+edit", "+new", "+replace", "+add-existing", "+list"})>
    <div class='col-md-@colsText order-md-@(isTextFirst ? "first" : "last")'>
        @* call sub-template to show the title with the correct H1-H6 tag *@
        @Html.Partial("../shared/Header tag.cshtml", new { Item = item, HeadingType = item.Presentation.HeadingType })
        @if (item.Subtitle != "" && item.Subtitle != null) {
          <h4 class="title mb-2 mb-md-4">@item.Subtitle</h4>
        } else {
          <h4 class="mb-2 mb-md-4"></h4>
        }
        @if (showImgBetweenTitleAndText) {
            @Html.Partial("Text and Image.Part-Image.cshtml", new { Item = item })
        }
        @Html.Raw(item.Text)
    </div>

    @* If the image has it's own column, it's here *@
    @if (!showImgBetweenTitleAndText) {
      <div class='col-md-@colsImg order-md-@(!isTextFirst ? "first" : "last")'>
        @* call sub-template to show the image with all possible options *@
        <div class="image-content pos-@item.BackImagePosition scroll-@item.Scroll">
          <img class="main-image" src="@item.Image" alt="@item.Title"/>
          @if(Text.Has(item.BackImage)){
            <img class="bg-image " src="@item.BackImage" alt="background-image"/>
          }
        </div>
      </div>
    }
  </div>
</div>  
  @* If the header has AlternatePositions, switch the order of title/text for the next item *@
  if (Header.AlternatePositions) {
    isTextFirst = !isTextFirst;
  }
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts"})
@Html.Partial("../shared/FancyboxAssets.cshtml", new { FancyboxAttribute = fancyboxAttribute })


<script>
$(document).ready(function(){
  $('.bg-image').scrolly([
{
	to: 'con-top',
	css:{
		top:'0',
		bottom: '',
		position: 'absolute'
	}
},
{
	from: 'con-top',
	to: 'con-bottom - 100el = vp-top',
	css:{
		top: '0',
		bottom: '',
		position: 'fixed'
		
	}
},
{	
	from: 'con-bottom - 100el = vp-top',
	css:{
		top: '',
		bottom: '0',
		position: 'absolute'
	}
}
], $('.text-image-w-scroll'));
});


</script>