@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Text.RegularExpressions;
<link rel="stylesheet" href="@App.Path/styles.css"/>


<div class="row portfolio-list" @Edit.TagToolbar(Content)>
    @foreach (var item in  AsList(Data)) {

        var itemurl = item.Title.Replace(" ", "-");

        <a href='@App.Resources.PortfolioPage/@itemurl' class="col-12 col-md-6 project" style='background-image:url("@item.ListImage");'>
            <div class="overlay"></div>
            <div class="project-content">
                <h6 class="pb-2">@item.Location</h6>
                <h4>@item.Title</h4>
            </div>
        </a>
    }
</div>